@import url('https://fonts.googleapis.com/css2?family=Bowlby+One&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
body{
    /*padding: 0 94px;*/
}

/*----------------------------header--------------------------------*/

header{
    width: 100%;
    height: 86px;
    padding: 0 94px;

    display: flex;
    align-items: center;
    justify-content: space-between;

}
nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
header nav ul{
    display: flex;
    gap: 50px;
    padding: 50px;
}
header nav a{
    color: inherit;
    text-decoration: none;
}
header nav a:hover{
    text-decoration: none;
}
.logo{
    display: inline-flex;
    align-items: baseline;
}
.dasteen{
    color: #001858;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.blog{
    color: #6246EA;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.coffe{
    display: flex;
    padding: 10px 17px;
    align-items: flex-start;
    gap: 10px;
    cursor: pointer;

    border-radius: 4px;
    background: #6246EA;

    color: #FFFFFE;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}
li{
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}
li a{
    color: #2B2C34;
    cursor: pointer;
}

/*------------------------first__section-------------------------*/

.section__first{
    width: 100%;
    height: 900px;
    flex-shrink: 0;
    padding: 0 94px;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    background: #EFF0F3;
}
.form__registration{
    display: flex;
    align-items: center;

    width: 444px;
    height: 67px;
    padding: 0 25px;

    border-radius: 8px;
    background: #ffffff;
}
.form__input {
    width: 100%;
    height: 100%;

    border: none;
    outline: none;
    background: transparent;

    color: #2b2c34;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 20px;
    font-weight: 400;
}
.email{
    display: flex;
    gap: 20px;
}
.subscribe__btn{
    display: flex;
    width: 145px;
    height: 67px;
    justify-content: center;
    align-items: center;
    gap: 10px;

    cursor: pointer;

    border-radius: 8px;
    background: #6246EA;

    color: #FFFFFE;

    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;

    transition: 0.3s ease;
}
.subscribe__btn:hover{
    transition: 0.3s ease;
    transform: scale(1.03);
}
h1{
    width: 617px;
    height: 162px;

    color: #2B2C34;

    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}
.under__h1{
    width: 652px;
    height: 50px;

    color: #9A9494;

    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.left{
    width: 55%;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;

    margin-top: 185px;
}
.right{
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 144px;

}
.right img{
    display: block;
    width: 550px;
    max-width: 100%;
    height: auto;
    padding: 0;
}
.stick{
    width: 3px;
    height: 56px;

    background: #2B2C34;
}
.line{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

/*------------------------second__section-------------------------*/

.section__second{
    width: 100%;
    height: 500px;
    flex-shrink: 0;
    padding: 0 94px;

    display: flex;
    flex-direction: column;
    margin-bottom: 67px;

    background: #EFF0F3;
}
.section__second-header{
    height: 35px;

    display: flex;
    flex-direction: row;
    padding: 2px 0 3px 0;
    justify-content: space-between;
    align-items: center;
}
.section__second-header a{
    color: inherit;
    text-decoration: none;
}
.section__second-header a:hover{
    text-decoration: none;
}
.browse{
    color: #2B2C34;

    width: 251px;

    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}
.category{
    color: #2B2C34;
    text-align: right;

    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}
.cards{
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 97px;
    margin-top: 80px;
}
.css, .java, .tailwind, .vue, .react{
    width: 220px;
    height: 280px;

    border-radius: 8px;
    box-shadow: 4px 6px 13px 0 rgba(215, 215, 215, 0.25);
    background: white;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;

    padding: 65px 30px;

    transition: 0.4s ease;
}
.progs{
    width: 118px;

    color: #232323;

    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    margin-top: 30px;
    transition: 0.4s ease;
}
.css svg, .java svg, .tailwind svg, .vue svg, .react svg{
    width: 60px;
    height: 60px;
}
.react:hover,
.css:hover,
.java:hover,
.tailwind:hover,
.vue:hover{
    background-color: #6246EA;
}
.css:hover .progs,
.java:hover .progs,
.tailwind:hover .progs,
.vue:hover .progs,
.react:hover .progs {
    color: #EFF0F3;
}
/*--------------------------main------------------------------*/

main{
    width: 100%;
    /*height: 4792px;*/

    background: #FFFFFE;
}
.article__title{
    color: #2B2C34;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}
.see_all_article{
    color: #2B2C34;
    text-align: right;

    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}
.type__featured-article{
    width: 100%;
    height: 490px;

    padding-bottom: 80px;
}
.articles__grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
}
.article__header a{
    color: inherit;
    text-decoration: none;
}
.article__header a:hover{
    text-decoration: none;
}
.article-image img{
    width: 260px;
    height: 198px;

    border-radius: 13px;
    background: #9A9494 50% / cover no-repeat;

    object-fit: cover;
}
.under__img{
    width: 260px;

    color: #2B2C34;

    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    margin-top: 25px;
}
.article-info img{
    width: 57px;
    height: 57px;

    border-radius: 57px;
    background: gray 50% / cover no-repeat;
}
.article-info{
    display: flex;
    margin-top: 80px;
    gap: 15px;
}
.author_info_date{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.author_name{
    height: 20px;
    width: 65px;
    color: #2B2C34;

    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.article-date{
    width: 184px;
    height: 21px;

    color: #2B2C34;

    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
}
.article-card{
    border-radius: 12px;
    background: #FFFFFE;

    box-shadow: 4px 6px 13px 0 rgba(215, 215, 215, 0.25);
    padding: 20px 20px 20px 20px;
}
.type__css{
    width: 100%;
    margin-top: 120px;
}
.type__java{
    width: 100%;
    margin-top: 80px;
}
.type__react{
    width: 100%;
    margin-top: 80px;
}
.more__article{
    width: 165px;
    height: 64px;
    gap: 10px;

    border-radius: 8px;
    background: #6246EA;

    color: #FFFFFE;

    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    cursor: pointer;
    transition: 0.3s ease;
}
.type__button{
    width: 100%;
    display: flex;

    justify-content: center;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 80px;
}
.more__article:hover{
    transition: 0.3s ease;
    transform: translateY(-5px);
}
/*-----------------------sidebar-------------------------------*/

.sidebar{
    width: 100%;
    height: 493px;

    background: #EFF0F3;
    padding: 58px 372px 78px 372px;
}
.sidebar__form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.sidebar__form img{
    width: 130px;
    height: 130px;

    background: white;
    border-radius: 50%;
    padding: 25px 25px 0 25px;
}
h3{
    color: #2B2C34;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}
.under__h3{
    color: #C0C0C0;
    text-align: center;

    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.main-container{
    width: 100%;
    background: #e4e5e9;
    margin: 0;
    padding: 0 94px;
}
.footer{
    width: 100%;
    min-height: 435px;

    display: grid;
    grid-template-columns: 2fr repeat(4, 1fr);
    gap: 95px;
    align-items: start;

    padding: 70px 0;
    margin: 0;
}
.footer-column ul{
    margin: 0;
    padding: 0;
}
.footer-column li{
    list-style: none;
    margin-bottom: 16px;
}
.footer-column a{
    color: #2b2c34;
    text-decoration: none;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 18px;

    margin-top: 20px;
}
.footer-column h5{
    margin: 0 0 20px;
    color: #2b2c34;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}
.social__icons img{
    width: 30px;
    height: 30px;

    background:lightgray 50% / contain no-repeat;
}
.social__icons{
    display: flex;
    align-items: center;
    gap: 30px;
}
.footer-logo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    gap: 10px;
}
.footer-line{
    grid-column: 1 / -1;

    width: 100%;
    border-top: 1px solid #C0C0C0;

    padding-top: 26px;
}
.footer-line p{
    margin: 0;

    color: #2B2C34;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
