@import url('https://fonts.googleapis.com/css2?family=Bowlby+One&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
body{
    /*padding: 0 94px;*/
}

/*----------------------------header--------------------------------*/

header{
    width: 100%;
    height: 86px;
    padding: 0 94px;

    display: flex;
    align-items: center;
    justify-content: space-between;

}
nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;

}
ul{
    display: flex;
    gap: 50px;
    padding: 50px;
}
.logo{
    display: inline-flex;
    align-items: baseline;
}
.dasteen{
    color: #001858;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.blog{
    color: #6246EA;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.coffe{
    display: flex;
    padding: 10px 17px;
    align-items: flex-start;
    gap: 10px;
    cursor: pointer;

    border-radius: 4px;
    background: #6246EA;

    color: #FFFFFE;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}
li{
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}
li a{
    color: #2B2C34;
    cursor: pointer;
}

/*------------------------first__section-------------------------*/

.section__first{
    width: 100%;
    height: 900px;
    flex-shrink: 0;
    padding: 0 94px;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    background: #EFF0F3;
}
.form__registration {
    display: flex;
    align-items: center;

    width: 444px;
    height: 67px;
    padding: 0 25px;

    border-radius: 8px;
    background: #ffffff;
}

.form__input {
    width: 100%;
    height: 100%;

    border: none;
    outline: none;
    background: transparent;

    color: #2b2c34;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 20px;
    font-weight: 400;
}
.email{
    display: flex;
    gap: 20px;

}
.subscribe__btn{
    display: flex;
    width: 145px;
    height: 67px;
    /*padding: 20px 23px 19px 23px;*/
    justify-content: center;
    align-items: center;
    gap: 10px;

    cursor: pointer;

    border-radius: 8px;
    background: #6246EA;

    color: #FFFFFE;

    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}
h1{
    width: 617px;
    height: 162px;

    color: #2B2C34;

    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}
.under__h1{
    width: 652px;
    height: 50px;

    color: #9A9494;

    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.left{
    width: 55%;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;

    margin-top: 185px;
}
.right{
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 144px;

}
.right img{
    display: block;
    width: 550px;
    max-width: 100%;
    height: auto;
    padding: 0;
}
.stick{
    width: 3px;
    height: 56px;

    background: #2B2C34;
}
.line{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

